<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // Declare the socket variable globally
        const socket = io();
    </script>
    <script defer src = "../js/notification.js"></script>
    <link rel="stylesheet" href="../css/notification.css">
    <%- include('../partials/head'); %>
    <title>User Profile</title>
</head>
<body>
    <div id="user-data" data-username="<%= user ? user.username : '' %>"></div>
    <%- include('../partials/header') %>

    <main class="container mt-5">
        <h1>User Profile</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personal Details</h5>
                <p class="card-text">Username: <%= user.username %></p>
                <p class="card-text">Email: <%= user.email %></p>
                <p class="card-text">Phone: <%= user.phone %></p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Preferences</h5>
                <p class="card-text">Location: <%= user.location %></p>
                <p class="card-text">Price Range: <%= user.price_min %> - <%= user.price_max %></p>
                <p class="card-text">Size of Apartment: <%= user.size_of_apartment ? user.size_of_apartment + ' m²' : 'Not specified' %></p>
                <p class="card-text">Furnished: <%= user.furnished %></p>
                <p class="card-text">Bedrooms: <%= user.bedrooms %></p>
            </div>
        </div>

        <a href="/edit-profile" class="btn btn-primary mt-3">Edit Profile</a>

        <div id="roommate-request-banner" class="hidden">
            <p id="roommate-request-message"></p>
            <button id="accept-roommate-request">Accept</button>
            <button id="deny-roommate-request">Deny</button>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>
